body {
    
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.thumbnail {
    
   max-height:150px;
   max-width:200px;
    height: 150px;
    width: auto;
}

/*td.thumbnail{
    grid-column-span:1;
    grid-row-span:1;
}

td#city{
    grid-column-span: 3;
    grid-row-span:5;
}*/

#TableContain {
   
    max-width:720px;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

div#title {
    font-size: 200%;
    font-weight: bold;
    
    
}

td#price {
    font-size: 130%;
    font-weight: bold;
    
}

.btn {
    
}

.jumbotron {
    background-color: ActiveBorder #808080;
}
